.cards-messages-container {
  width: 248px;
  height: 180px;
  min-width: 248px;
  min-height: 180px;
  transition: 0.2s;  
}

.cards-messages-container:hover {
  transform: scale(1.2);
  overflow: visible;  
}

.cards-messages-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;  
}

img {  
  max-width: 100%;
  opacity: 1 !important;
}

