.cards-links-container {
  width: 17.5vw;
  height: 22vw;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.cards-links-container:hover {
  background-color: #45B3E6;
  transform: scale(1.1);
}

.cards-links-container+.cards-links-container {
  margin-left: 4.5vw;
}

.cards-links-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.28vw;
  height: 9.72vw;
}

.cards-links-logo-container img {
  width: 8.28vw;
}

.cards-links-container hr {
  width: 80%;
  background-color: #ACACAC;
}

.cards-links-container p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 900;
  color: #383838;
  margin-top: 10px;
}

/* Size screen default mobile devices */

@media screen and (max-width: 425px) {
  .cards-links-container {
    width: 60vw;
    height: 30vh;
    margin-top: 16px; 
    margin-bottom: 16px;       
  }

  .cards-links-container+.cards-links-container {
    margin-left: 0;
    margin-right: 0;       
  }
  .cards-links-container p {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
  }

  .cards-links-logo-container {   
    width: 20vw;
    height: 20vw;    
  }

  .cards-links-logo-container img {
    width: 22vw;    
  }

  
}