.cards-slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 459.88px; 
  margin-left: 100px !important;
  margin-right: 100px !important; 
  background-color:#F5F5F5;  
}

.cards-slider-container a {
  text-decoration: none !important;
  color: '#000';
}

.card-container {
  width: 239.11px;
  height: 321.69px;
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;   
}

.card-container>p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px; 
  color: '#000';
}

.card-container>p:nth-of-type(1) {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100.5%;
  text-align: center;
  color: '#000';
  margin-top: 12px;
  margin-bottom: 8px;
}

.card-container > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
}

.arrowsRight:hover {
  color: #383838;
}

.arrowsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowsCarousel {
  background-color: transparent; 
  border: none; 
  outline:none;
}

.arrowsCarousel:hover{
  cursor: pointer;  
  border: none;
  outline:none; 
}

.arrowsCarousel:link, .arrowsCarousel:visited, .arrowsCarousel:active {
  cursor: pointer;
  background-color: transparent; 
  border: none;
  outline:none;
}


.arrowsCarousel:link *, .arrowsCarousel:visited *, .arrowsCarousel:active * {
  font-size: 300px;
  transition: font 0.1s ease,
}

.cardLink {
  border: none !important;
}

