* {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #F5F5F5;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #ccc;
}

.App {
  background-color: #F5F5F5;
  text-align: center;
  width: 100%;
}

.App-header {
  background: url(./assets/images/Header_Background.jpg);
  background-size: 100%;
  width: 100%;
  height: 48.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient( 180deg, rgba(62, 64, 149, 0.3) 0%, rgba(62, 64, 149, 0.3) 86.46%, rgba(62, 64, 149, 0.0) 100%);
  width: 100%;
  height: 9.86vw;
}

.App-logo-menu {
  margin-right: 25vw;
}

.App-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8%;
  list-style-type: none;
}

.App-menu li {
  padding-left: 64px;
}

.App-menu li>a {
  text-decoration: none;
  color: #bbdeea;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.App-menu li>a:hover {
  color: #379BBE;
}

.App-menu-center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.App-logo-header {
  opacity: 0.7;
  width: 20vw;
  height: auto;
}

.App-menu-line {
  height: 25vw;
  border-left: 1.5px solid;
  border-color: #45B3E6;
  margin-left: 32px;
  margin-right: 32px;
}

.App-menu-text-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 96px;
  text-align: left;
  line-height: 1;
}

.App-footer-for-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3E4095;
  opacity: 0.75;
  width: 100%;
  height: 100px;  
}

.App-connection-rectangle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 32px 32px;
}

.App-outside-connection-rectangle {
  position: absolute;
  width: 107.48px;
  height: 107.48px;
  background: rgba(56, 56, 56, 0.3);
  transform: rotate(-45deg);
}

.App-inside-connection-rectangle {
  position: absolute;
  width: 89.1px;
  height: 87.68px;
  background: rgba(255, 255, 255, 0.6);
  transform: rotate(-45deg);
}

.App-connection-logo {
  position: absolute;
  width: 53px;
  height: 66px;
  filter: contrast(100%) saturate(0%) brightness(50%) grayscale(100%);
}

.App-left-text-footer-for-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; 
  margin-right: 0; 
}

.App-footer-line {
  height: 68px;
  border-left: 1.5px solid;
  border-color: #efeded;
  margin-left: 16px;
  margin-right: 16px;
}

.App-text-footer-for-header {
  font-family: 'Josefin Sans', sans-serif;
  color: #efeded;
  font-size: 12px;
  text-align: left;
  font-weight: 700;
  line-height: 1.5;
}

.App-left-text-footer-for-header-container p:nth-child(1) {
  font-size: 20px;
}

.App-right-text-footer-for-header-container {
  width: 240px;
  margin-left: 0;
}

.section-our-files {
  margin-top: 40px;
}

.section-our-files>p:nth-of-type(1) {
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  text-align: center;
  color: #000;
}

.arrowsCarousel:hover .arrows {
  color: #c4c4c4 !important;
}

.rec.rec-dot {
  display: none;
}

.rec.rec-dot_active {
  display: none;
}

.rec.rec-arrow:enabled, .rec.rec-arrow:hover, .rec.rec-arrow:focus {
  background-color: #c4c4c4;
  border-radius: 50%;
}

.section-bulletins {
  width: 100%;
  height: 70vh;
  background: linear-gradient( 180deg, rgba(0, 0, 0, 0.9) -0.5%, rgba(0, 0, 0, 0.426562) 102.96%, rgba(0, 0, 0, 0) 102.97%), url(./assets/images/bulletins-background.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-bulletins>p:nth-of-type(1) {
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  text-align: center;
  color: #fff;
}

.section-bulletins>span {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.section-bulletins>button {
  background: linear-gradient( to left, #454682 0%, #45B3E6 100%);
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
  transition: 0.3s;
}

.section-bulletins>button:hover {
  background: linear-gradient( to left, #8081b2 0%, #89d2f4 100%);
  color: #454682;
  transform: scale(1.05, 1.05);
}

.ministries-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  text-align: left;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-ministries {
  width: 100%;
}

.ministries-title>hr {
  width: 60% !important;
  text-align: left;
  margin-left: 20px;
  background-color: #BEBAB5;
  height: 2px !important;
  border: none;
}

.ministries-content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 65vh;
  width: 100%;
}

.ministries-card-left-line {
  border-left: 1px solid #BEBAB5;
  height: 310px;
}

.footer-line {
  width: 100%;
  background-color: #BEBAB5;
  height: 2px !important;
  border: none;
}

.section-our-history {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-our-history>p:nth-of-type(1) {
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  text-align: center;
  color: #000;
  margin-left: 10vw;
  margin-right: 10vw;
}

.our-history-image {
  width: 590px;
  border-radius: 10px;
  float: left;
  margin-right: 32px;
  filter: grayscale(100%);
}

.our-history-content-container {
  margin-top: 30px;
  padding-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.our-history-content-container p {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

.section-messages {
  margin-top: 20px;
}

.section-messages>p:nth-of-type(1) {
  font-family: 'Quicksand', sans-serif;
  font-size: 55px;
  text-align: center;
  color: #000;
}

.messages-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 230px;
  background-color: black;
  opacity: 1;
}

.section-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 422px;  
}

.footer {
  width: 100%;
  height: 400px;
  background-color: #383838;
}

.footer-header-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-header-logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10vw;
}

.footer-header-logo img {
  width: 28px;
}

.footer-header-logo span {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #DCDCDC;
  margin-left: 20px;
}

.footer-header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding-right: 10vw;
}

.footer-header-links-icon {
  transition: 0.3s;
  cursor: pointer;
}

.footer-header-links-icon:hover {
  transform: scale(1.2);
  color: #fff;
}

.footer-header-links-icon+.footer-header-links-icon {
  margin-left: 16px;
}

.footer-header-container+hr {
  align-self: center;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  color: #DCDCDC;
  background-color: #777777;
}

.footer-body-container {
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-body-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.footer-body-container h1 {
  color: #DCDCDC;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.footer-body-container a {
  color: #DCDCDC;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: normal !important;
}

.footer-body-container a:hover {
  color: #45B3E6;
}

.footer-body-container button {
  color: #DCDCDC;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: normal !important;
  background: transparent;
  border: none;
  padding: 0;
}

.footer-body-container button:hover {
  color: #45B3E6;
}

.footer-body-container+hr {
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  color: #DCDCDC;
  background-color: #777777;
}

.footer-body-contact-content-container {
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  color: #DCDCDC;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: normal !important;
}

.footer-body-contact-content-container span {
  margin-left: 15px;
  text-align: left;
}

.footer-copyright-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 98px;
}

.footer-copyright-container span {
  color: #DCDCDC;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
}

.footer-copyright-container span+span {
  margin-top: 15px;
}

/* Size screen default tablets */

@media screen and (max-width: 768px) {
  .App {
    margin: 0 auto;
  }
  .our-history-content-container>img:nth-of-type(1) {
    margin-bottom: 15px;
  }
  
}

/* Size screen default mobile devices */

@media screen and (max-width: 425px) {

  .App-header {
    height: 100vh;
    background-size: cover;
  }
  .App-menu {
    height: 100px !important;
    justify-content: space-between;
    padding-left: 30px;
  }
  .App-menu>a:nth-of-type(1) {
    width: 50px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .App-menu img {
    width: 100%;
    height: 100%;
  }
  .App-menu ul {
    display: none;
  }
  .one, .two, .three {
    background-color: #bbdeea;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }
  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 30px;
  }
  .App-menu.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh !important;
    background-color: rgba(62, 64, 149, 1);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  .App-menu.on .menu-toggle {
    position: absolute;
    right: 0;
    top: 15px
  }
  .App-menu.on>a:nth-of-type(1) {
    display: none;
  }
  .App-menu.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .App-menu.on .menu-toggle .two {
    opacity: 0;
  }
  .App-menu.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }
  .App-menu.on ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px;
  }
  .App-menu.on ul li {
    margin: 0;
    padding: 0;
  }
  .App-menu.on ul a {
    transition-duration: 0.5s;
    font-size: 2.5rem;
    line-height: 5rem;
    margin: 0px auto !important;
    padding: 0px auto !important;
  }
  .App-menu.on ul li {
    margin: 0px auto !important;
    padding: 0px auto !important;
  }
  .App-logo-menu {
    margin-right: 0;
  }
  .App-menu-text-title {
    font-size: 36px;
  }
  .App-menu-center-container {
    height: 350px;
    padding-top: 0px;    
    margin-bottom: 12px;
  }
  .App-menu-center-container p {
    margin: 0;
  }

  .App-footer-for-header-container p {
    display: none;
  }

  .App-footer-line {
    display: none;
  }

  .App-connection-rectangle-container {
    display: none;
  }

  .section-our-files>p:nth-of-type(1) {
    font-size: 40px;
  }

  .section-bulletins>p:nth-of-type(1) {
    font-size: 40px;
  }

  .ministries-title {
    font-size: 40px;
  }

  .section-our-history>p:nth-of-type(1) {
    font-size: 40px;
  }

  .section-messages>p:nth-of-type(1) {
    font-size: 40px;
  }


  .ministries-content-container {    
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: auto;   
  } 

  .ministries-card-left-line {
    display: none;
  }

  .section-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    
    flex-direction: column;   
  }

  .footer {
    height: auto;
  }

  .footer-body-container {
    display: none;
  } 

  .footer-header-links {
    display: none;
  }

  .footer-header-logo {
    padding-left: 0;
    width: 90%;
  }

  .footer-header-logo img {
    width: 35px;
}

  .footer-header-logo span {
    font-size: 16px;
  }


}

